.git
.gitignore
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
.venv
venv
data/
tests/
scripts/
docker/
.env
.env.production
.env.production.example
.env.example
*.md
frontend/
node_modules/
